:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgrey;
}

h1 {
  font-size: 3rem;
}

.container {
  background: white;
  width: 900px;
  margin: 100px auto;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
}

.agenda {
  list-style: none;
  margin: 10px;
}

.agenda .employee {
  background-color: lightblue;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.employee .name {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.employee .remove {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.remove:hover {
  cursor: pointer;
}

.add-employee {
  border: none;
  border-radius: 100px;
  background-color: red;
  font-size: 20px;
  color: white;
  

}

